# Importar dados e pacotes

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203126 entries, 0 to 203125
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        203126 non-null  object
 1   price         203126 non-null  float64
 2   bed           171963 non-null  float64
 3   bath          172835 non-null  float64
 4   acre_lot      151066 non-null  float64
 5   full_address  203126 non-null  object
 6   street        203041 non-null  object
 7   city          203074 non-null  object
 8   state         203126 non-null  object
 9   zip_code      202931 non-null  float64
 10  house_size    173448 non-null  float64
 11  sold_date     75339 non-null   object
dtypes: float64(6), object(6)
memory usage: 18.6+ MB

In [3]:
df['sold_date'] = pd.to_datetime(df['sold_date'])

In [4]:
df['street'] = df['street'].fillna('-')
df['city'] = df['city'].fillna('-')
df['zip_code'] = df['zip_code'].fillna(df['zip_code'].median())
df['bed'] = df['bed'].fillna(df['bed'].median())
df['house_size'] = df['house_size'].fillna(df['house_size'].median())
df['bath'] = df['bath'].fillna(df['bath'].median())
df['acre_lot'] = df['acre_lot'].fillna(df['acre_lot'].median())
for i in ['bed','bath','acre_lot','zip_code','house_size']:
    df[f'{i}'] = df[f'{i}'].astype('float')

In [5]:
df.columns

Index(['status', 'price', 'bed', 'bath', 'acre_lot', 'full_address', 'street',
       'city', 'state', 'zip_code', 'house_size', 'sold_date'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203126 entries, 0 to 203125
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        203126 non-null  object
 1   price         203126 non-null  float64
 2   bed           203126 non-null  float64
 3   bath          203126 non-null  float64
 4   acre_lot      203126 non-null  float64
 5   full_address  203126 non-null  object
 6   street        203126 non-null  object
 7   city          203126 non-null  object
 8   state         203126 non-null  object
 9   zip_code      203126 non-null  float64
 10  house_size    203126 non-null  float64
 11  sold_date     75339 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(6), object(5)
memory usage: 18.6+ MB

In [7]:
df.describe()

,price,bed,bath,acre_lot,zip_code,house_size
count,2.031260e+05,203126.000000,203126.000000,203126.000000,203126.000000,2.031260e+05
mean,8.683271e+05,3.452493,2.527653,6.577785,2159.655376,2.160682e+03
std,1.433730e+06,2.488700,2.720178,547.311101,1742.192498,3.905139e+03
min,1.000000e+00,1.000000,1.000000,0.000000,601.000000,1.000000e+02
25%,2.499000e+05,2.000000,2.000000,0.190000,1230.000000,1.232000e+03
50%,5.199000e+05,3.000000,2.000000,0.330000,2025.000000,1.728000e+03
75%,8.899000e+05,4.000000,3.000000,0.730000,2176.000000,2.443000e+03
max,6.000000e+07,99.000000,198.000000,100000.000000,99999.000000,1.450112e+06

In [8]:
df = df.drop(columns=['full_address','street','sold_date'])

In [9]:
from pycaret.regression import *
s = setup(df, target = 'price',normalize=True,remove_outliers=True)

In [ ]:
best = compare_models()

IntProgress(value=0, description='Processing: ', max=104)

Initiated  . . . . . . . . . . . . . . . . . .                   20:49:45
Status     . . . . . . . . . . . . . . . . . .           Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extreme Gradient Boosting

In [ ]:
save_model(best, 'model')